{% extends "./layout.njk" %}

{% block head %}
    <title>Dashboard | Vely</title>
{% endblock %}

{% block body %}

<div class="col-10 float-left p-4">
  <div class="blankslate">
    <h3 class="mb-1">This is a blank slate</h3>
    <p>Use it to provide information when no dynamic content exists.</p>
  </div>
</div>


{% endblock %}