<!DOCTYPE html>
<html lang="en" data-color-mode="dark" data-dark-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/primer.css">
    {% block head %}
    <title>Layout | Vely</title>
    {% endblock %}
</head>
<body style="width: 100vw; height: 100vh;">
    {% block body %}
    <h1>Layout</h1>
    {% endblock %}
</body>
</html>